.profile {
  display: flex;
  align-items: end;
  flex-direction: column;
}
.profile__username {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 20px;
}
.profile__logout {
  cursor: pointer;
  transition: color 0.5s;
  &:hover {
    color: rgba(255, 0, 0, 0.509);
    transition: color 0.5s;
  }
}
